.body
  padding gutter(2)

.wrapper
  margin  5rem auto
  width   95%
  padding-top 1rem
  background  #F3E8E6
  border 1px solid grey
  border-radius 3px

.greeting
  color $PRIMARY // use a global variable from /styles/index.styl
  font-size 3rem
  text-align center

.button
  width gutter(4)
  height gutter(4)
  margin gutter()
  align-items center
  justify-content center

.increment
  background-color green

.decrement
  background-color red

.clear
  background-color orange
  width gutter(10)

.label
  color white
  font-size 24px
