.task-line
    display flex
    flex-direction row
    height 35px
    margin-top 20px 

.complete-btn
    float left
    flex 1
    font-size 15px

.task-text
    flex 4
    margin-left 5px
    margin-right 5px
    color white
    padding-top 5px
    padding-left 10px
    font-size 18px
    width 60%
    background-color #007bf3

.delete-btn
    flex 1
    background-color #034bf3

.completed
    text-decoration line-through
    opacity 0.5